<section ng-controller="userController as vm">
          <form class="col-md-3" action="" class="search-form">
            <div class="form-group has-feedback">
              <label for="Buscar" class="sr-only">Buscar</label>
              <input type="text" class="form-control" name="nameFilter" ng-model="vm.nameFilter" placeholder="Buscar...">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
          </form>
          <div class="clearfix"></div>
          <!--inicio de los cards -->
            <md-card class="container-fluid col-md-6" ng-repeat="jugadores in vm.players | filter:vm.nameFilter">
              <md-card-header>
                <md-card-header-text>
                  <span class="md-title">Nombre: {{jugadores.name}}</span>
                  <span class="md-subhead">Alias: {{jugadores.alias}}</span>
                  <img id="image" ng-src="{{jugadores.photo}}">
                </md-card-header-text>
              </md-card-header>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-subhead">Dinero: {{jugadores.money}}</span>
                  <span class="md-subhead">Propiedades: {{jugadores.property}}</span>
                </md-card-title-text>
              </md-card-title>
              <!-- Boton para cambiar el editar las eventos -->
              <md-card-actions id="buttons">
                <!-- <md-button class="edit" ng-click="vm.getInfo(propiedades);">Editar</md-button> -->
              <md-card-icon-actions><!-- cierre botones  -->
          <!--fin de los cards -->	
</section>